@page
@model RazorPagesMovie.Pages.Users.Create
@{
}

<hr>
<H2>New Client</H2>
@if(Model.errorMessage.Length > 0){
    <div class = "alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="close"></button>

    </div>
}
<form method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
    </div>
    <div class="col-sm-6">
        <input type="file" name="image" id="" class="form-control" value="@Model.userInfo.image">
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
    </div>
    <div class="col-sm-6">
        <input type="text" name="name" id="" class="form-control" value="@Model.userInfo.name">
    </div>
        <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
    </div>
    <div class="col-sm-6">
        <input type="text" name="phone" id="" class="form-control" value="@Model.userInfo.phone">
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
    </div>
    <div class="col-sm-6">
        <input type="text" name="email" id="" class="form-control " value="@Model.userInfo.email">
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
    </div>
    <div class="col-sm-6">
        <input type="text" name="address" id="" class="form-control" value="@Model.userInfo.address">
    </div>
    @if(Model.successMessage.Length > 0){
        <div class="row mb-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="row mb-3 mt-2">
        <div class=" col-sm-3 d-grid">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
    
    <div class="row mb-3">
         <div class="col-sm-3 d-grid">
            <a href="/" class="btn btn-outline-primary" role="button">Cancel</a>
        </div>

       
    </div>
</form>